/* tablet */
@media (max-width: 769px) {
    #intro p {
        margin: 15px 0;
        padding:0px 15px;
        font-size: 25px;
    }
    .down {
        display: none;
    }
    #lang i{
        font-size: 80px;
        width: 50%;
    }
    .nav-right {
        margin-right: 45px;
    }
}
/* phone */
@media (max-width: 577px) {
    #logo {
        padding: 0px 10px;
        font-size: 1.8rem;
    }
    .nav-left{
        padding:10px 20px;
    }
    section {
        margin-bottom: 0px;
    }
    #social i {
        font-size: 25px;
        padding:8px;
        margin:20px 0;
    }
    #social {
        display: flex;
        justify-content: space-evenly;
    }
    #lang i{
        font-size: 60px;
        width: 30%;
    }
}
@media (max-width:321px){
    #intro p {
        font-size: 20px;
    }
}
/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */