.project-card{
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 240px;
    border-radius: 10px;
    margin: 15px 10px;
    -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
            perspective: 1000px;
}
.front,.back{
    background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 200px;
	height: auto;
	border-radius: 10px;
	font-size: 1.2rem;
}
.front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 200px;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #7ec7ff 0%,#172c68 100%);
    background: -o-linear-gradient(45deg,  #7ec7ff 0%,#172c68 100%);
    background: linear-gradient(45deg,  #7ec7ff 0%,#172c68 100%);
}

#listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card:hover .front,
.project-card:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.project-card .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.project-card .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.project-card:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.project-card:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}
.inner li {
    list-style-type: none;
    border-radius: 20px;
    display: inline;
    padding: 0px 5px;
    font-size: small;
    background-color: rgba(255, 136, 1, 0.753);
}
.front .inner {
    top: 87%;
    position: absolute;
}